# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

core/finetune/temp/BLIP/temp
core/finetune/temp/download.py
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
/praw.ini
/core/finetune/cache/
/core/finetune/data/
/core/finetune/appendBlob.jsonl
raw_training_1694874754.*.txt
/.idea/.gitignore
/.idea/jupyter-settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/reddit-bot-gpt2-xl.iml
/.idea/vcs.xml
/cache/cache.bak
/cache/cache.dat
/cache/cache.dir
/qodana.yaml
/cache.json
/temp.png
/cache/comment.bak
/cache/comment.dat
/cache/comment.dir
/cache/submission.bak
/cache/submission.dat
/cache/submission.dir
/raw_training_1696085973.897645.txt
/sd.lock
/data/
/locks/
/output/
/cache/cache.json
/bruh.shelve.dat
/bruh.shelve.dir
/core/finetune/raw_training_1696685739.339746.txt
/core/chat.ipynb
/bruh.shelve.bak
/cache/queue/generation
/cache/queue/post
/cache/queue/reply
/cache/queue/submission
/core/finetune/data/comment_data.txt
/core/finetune/blip/
/core/finetune/temp/BLIP/
/core/finetune/temp/BLIP/__init__.py
/core/finetune/temp/__init__.py
/comment_data.txt
/core/finetune/blip_itm/config.json
/core/finetune/blip_vqa/config.json
/core/finetune/temp/BLIP/download.py
/core/finetune/blip_vqa/generation_config.json
/core/finetune/blip_itm/pytorch_model.bin
/core/finetune/blip_vqa/pytorch_model.bin
/core/finetune/temp/BLIP/__init__.py
/core/finetune/temp/BLIP/download.py
/core/finetune/temp/BLIP/download.py
/core/finetune/temp/BLIP/__init__.py
